@charset "UTF-8";
/*
  .scss/framework/_variables.scss
  Variables du framework
 */
/* COULEURS */
/* DIMENSIONS DES BOITES */
/* TAILLE DES CONTENUS */
/* MENUS */
/*
  ./scss/framework/modules/_boites.scss
  Module des boites
 */
/* Types de boîtes */
.boite-fixe {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.boite-marge-nulle {
  margin: 0;
}

/*
  ./scss/framework/modules/_contenus.scss
  Module des contenus
 */
/* Alignements des textes */
.contenu-centre {
  text-align: center;
}

.contenu-gauche {
  text-align: left;
}

.contenu-droite {
  text-align: right;
}

.contenu-justifie {
  text-align: justify;
}

/* Taille des textes */
.contenu-grand {
  font-size: 2.3em;
}

.contenu-medium {
  font-size: 1.2em;
}

.contenu-petit {
  font-size: 0.8em;
}

/* Couleurs des contenus */
.contenu-couleur1 {
  color: #FF9332;
}

/*
  ./scss/framework/modules/_menus.scss
  Module des menus
 */
/* Types de menus */
.menu-horizontal > ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.menu-horizontal > ul > li:not(:first-child) {
  margin-left: 1px;
}

.menu-horizontal > ul > li > a {
  background: #FF9332;
  padding: 1em;
  text-decoration: none;
  color: #ffe4cb;
}

.menu-horizontal > ul > li > a:hover,
.menu-horizontal > ul > li.actif > a {
  background: #0160A0;
  color: #fff;
}
