//
// ./scss/app.scss
//

/* ----------------------------------------------------
   SPECIFICATIONS GENERALES (valeurs par défaut)
   ----------------------------------------------------
*/
body {
  color: #555;
  font-size: 1.2em;
}

article {
  margin-bottom: 1em;
}

/* ----------------------------------------------------
   OBJETS PARTICULIERS (identifiés par un id)
   ----------------------------------------------------
*/
