/*
  .scss/framework/_variables.scss
  Variables du framework
 */

/* PALETTE DE COULEURS DE L'APPLICATION */
  $couleur1: #FF9332;
  $couleur1Claire: lighten($couleur1, 30%);
  $couleur1Foncee: darken($couleur1, 30%);

  $couleur2: #00BC62;
  $couleur2Claire: lighten($couleur2, 30%);
  $couleur2Foncee: darken($couleur2, 30%);

  $couleurNeutre: #555;
  $couleurNeutreClaire: lighten($couleurNeutre, 30%);
  $couleurNeutreFoncee: darken($couleurNeutre, 30%);

/* DIMENSIONS DES BOITES */
  $largeurBoiteFixe: 800px;

/* BORDS DES BOITES */
  $boiteBordsCouleur: $couleurNeutre;
  $boiteBordsDimension: 1px;
  $boiteBordsPadding: 1rem;

/* BORDS FOLTTANTES */
  $boiteFlottanteLargeur: 200px;
  $boiteFlottanteMargin: 1rem;

/* TAILLE DES CONTENUS */
  $contenuGrand:  2.3rem;
  $contenuMedium: 1.2rem;
  $contenuPetit:  .8rem;

/* MENUS */
  $menuCouleurOff:  $couleur1;
  $menuCouleurTexteOff:  $couleur1Claire;

  $menuCouleurOn:  $couleur2;
  $menuCouleurTexteOn:  #fff;

  $menuMarge: 1px;

/* GRILLES */
  $grillesGouttiere: .5rem;
  $grillesColonnesNombre: 12;
  $grilleBreakPoints: ('xs': '0',
                       's' : '568px',
                       'm' : '768px',
                       'l' : '1024px',
                       'xl': '1280px');
