/*
  .scss/framework/_variables.scss
  Variables du framework
 */

/* PALETTE DE COULEURS DE L'APPLICATION */
  $couleur1: #FF9332;
  $couleur1Claire: lighten($couleur1, 30%);
  $couleur1Foncee: darken($couleur1, 30%);

  $couleur2: #0160A0;
  $couleur2Claire: lighten($couleur2, 30%);
  $couleur2Foncee: darken($couleur2, 30%);

  $couleurNeutre: #555;
  $couleurNeutreClaire: lighten($couleurNeutre, 30%);
  $couleurNeutreFoncee: darken($couleur2, 30%);

/* DIMENSIONS DES BOITES */
  $largeurBoiteFixe: 800px;

/* BORDS DES BOITES */
  $boiteBordsCouleur: $couleurNeutre;
  $boiteBordsDimension: 1px;
  $boiteBordsPadding: 1em;

/* BORDS FOLTTANTES */
  $boiteFlottanteLargeur: 200px;
  $boiteFlottanteMargin: 1em;

/* TAILLE DES CONTENUS */
  $contenuGrand:  2.3em;
  $contenuMedium: 1.2em;
  $contenuPetit:  .8em;

/* MENUS */
  $menuCouleurOff:  $couleur1;
  $menuCouleurTexteOff:  $couleur1Claire;

  $menuCouleurOn:  $couleur2;
  $menuCouleurTexteOn:  #fff;

  $menuMarge: 1px;
