/*
  .scss/framework/_variables.scss
  Variables du framework
 */

/* COULEURS */
  $couleur1: #000097;
  $couleur2: green;

/* DIMENSIONS DES BOITES */
  $largeurBoiteFixe: 600px;

/* TAILLE DES CONTENUS */
  $contenuGrand:  2.3em;
  $contenuMedium: 1.2em;
  $contenuPetit:  .8em;
